$default: rgb(41, 47, 63);
$defaultFocus: rgb(26, 29, 37);
$defaultPressed: rgb(0, 0, 0);

$primary: rgb(70, 118, 252);
$primaryFocus: rgb(61, 107, 235);
$primaryPressed: rgb(48, 90, 204);

$danger: rgb(252, 85, 70);
$dangerFocus:rgb(246, 72, 56);
$dangerPressed:rgb(209, 49, 34);

$warning: rgb(255, 230, 0);
$warningFocus: rgb(236, 213, 2);
$warningPressed: rgb(177, 159, 0);

$success: rgb(24, 207, 0);
$successFocus:rgb(22, 189, 0);
$successPressed:rgb(19, 167, 0);

$box:rgba(255, 255, 255);
$boxShadow:rgba(255, 255, 255, 0.3);

$modalBG: rgba(0, 0, 0, 0.04);

$input: rgb(185, 184, 184);