$default: rgb(41, 47, 63);
$defaultFocus: rgb(23, 25, 32);

$primary: rgb(70, 118, 252);
$primaryFocus: rgb(61, 107, 235);

$danger: rgb(252, 85, 70);
$dangerFocus:rgb(246, 72, 56);

$warning: rgb(250, 247, 98);
$warningFocus: rgb(235, 232, 61);

$box:rgba(255, 255, 255);
$boxShadow:rgba(255, 255, 255, 0.3);

$modalBG: rgba(0, 0, 0, 0.04);